

<div class="container" *ngIf="lista">
  <h3 class="mb-3">Lista de clientes</h3>

  <button class = 'btn btn-primary' (click)="cadastrar()">Cadastrar Novo Cliente</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes; let i = index">
        <td>{{cliente.id}}</td>
        <td>{{cliente.nome}}</td>
        <td>
          <button type="button" class="btn btn-primary"(click)="visualizar(i)">Visualizar</button>
          <a type="button" class="btn btn-warning" (click)="atualizarcad(i)">Alterar</a>
          <a type="button" class="btn btn-danger" (click)="apagar(cliente.id)">Apagar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>




<div class="container" *ngIf="cadastro">
  <h2>Cadastrar Cliente:</h2>
  <hr>
    <form >

      <div class="mb-3">
        <label class="form-label"> Nome: <input type="text"  class="form-control" name="nome"  [(ngModel)]="cliente.nome" ></label>
      </div>
      <div class="mb-3">
        <label class="form-label"> Cep: <input type="text"  class="form-control" name="cep" [(ngModel)]="arrayModel.cep" (blur)="buscaCep()"></label>
      </div>
        <div class="mb-3">
          <label class="form-label"> Endereço: <input type="text"  class="form-control" name="endereco"  [(ngModel)]="arrayModel.endereco"></label>
        </div>

        <button class = 'btn btn-primary' type="submit" (click)="criarnovo()" >Cadastrar Novo Cliente</button>
    </form>


  <a type="button" class="btn btn-warning mt-2" (click)="voltar()">Voltar</a>

</div>



<div class="container" *ngIf="view">

  <h2 class="mt-2 mb-2">Dados do cliente: {{this.visualiza.nome}}</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>*</th>
        <th>Id</th>
        <th>Nome</th>
        <th>Cep</th>
        <th>Endereço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of this.visualiza.enderecos; let i = index">
        <td></td>
        <td>{{this.visualiza.id}}</td>
        <td>{{this.visualiza.nome}}</td>
        <td>{{cliente.cep}}</td>
        <td>{{cliente.endereco}}</td>
      </tr>
    </tbody>
  </table>


  <a type="button" class="btn btn-warning mt-2" (click)="voltar()">Voltar</a>
</div>

<div class="container" *ngIf="atualizar">
  <h2>Atualizar Cadastro:</h2>
  <hr>
    <form >

      <div class="mb-3">
        <label class="form-label"> Nome: <input type="text"  class="form-control" name="nome" [(ngModel)]="dadosAlterar.nome" ></label>
      </div>
      <div class="mb-3">
        <label class="form-label"> Cep: <input type="text"  class="form-control" name="cep" [(ngModel)]="dadosAlterar.enderecos[0].cep" (blur)="buscaCep()"></label>
      </div>
        <div class="mb-3">
          <label class="form-label"> Endereço: <input type="text"  class="form-control" name="endereco"   [(ngModel)]="dadosAlterar.enderecos[0].endereco"></label>
        </div>
        <button class = 'btn btn-primary' type="submit" (click)="alterar()" >Atualizar Cadastro</button>

      </form>


  <a type="button" class="btn btn-warning mt-2" (click)="voltar()">Voltar</a>

</div>



